body, html {
  height: 100%;
  min-height: 100%;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: fadein 1.5s;
  -moz-animation: fadein 1.5s;
  -webkit-animation: fadein 1.5s;
  -o-animation: fadein 1.5s;
  -webkit-transition: .8s ease-in-out;
  -moz-transition: .8s ease-in-out;
  -o-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  body 0%, html 0% {
    opacity: 0;
  }
  body 100%, html 100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h4 {
  font-size: 18px;
  color: #612172 !important;
}

h3 {
  font-size: 20px;
  font-weight: 500 !important;
  color: #612172 !important;
}

h2 {
  font-family: "sansSerif";
  color: #612172 !important;
  letter-spacing: .75px;
  font-size: 30px;
  line-height: 1.00;
}

h1 {
  color: #612172;
  letter-spacing: .75px;
  font-size: 46px;
  text-align: center;
}

#navigation {
  width: 100%;
  z-index: 1;
  height: 80px;
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0.92);
  -webkit-transition: .8s ease-in-out;
  -moz-transition: .8s ease-in-out;
  -o-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
}

#navigation .menu {
  padding-top: 30px;
  text-align: center;
  padding-right: 30px;
  margin: auto 0 0 0;
}

#navigation .menu .hamburger {
  position: absolute;
  right: 0;
  margin-right: 30px;
}

@media (min-width: 320px) and (max-width: 740px) {
  #navigation {
    padding-right: 10px;
  }
}

#navigation a {
  margin-left: 12px;
  color: #612172;
  font-size: 18px;
  font-variant: small-caps;
  text-decoration: none;
}

@media (min-width: 320px) and (max-width: 740px) {
  #navigation {
    padding-right: 10px;
    margin-left: 0;
  }
}

.menu a:hover {
  text-decoration: none;
  border-bottom: 2px solid #612172;
  padding: 0px 0 5px 0;
  -webkit-transition: 0.1s ease-in-out;
  -webkit-transition--moz-transition: .1s ease-in-out;
  -webkit-transition--o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.nav-text a {
  font-size: 17px;
  font-variant: small-caps;
}

@media (min-width: 320px) and (max-width: 740px) {
  .nav-text a {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 740px) {
  .nav-text {
    display: none;
  }
}

.logo {
  position: absolute;
  height: 60px;
  margin-left: 30px;
  margin-top: 10px;
  background-color: #612172;
  width: 200px;
}

@media (min-width: 320px) and (max-width: 740px) {
  .logo {
    margin-left: 10px;
  }
}

.logo .logo-text {
  position: absolute;
  padding-left: 60px;
  font-variant: small-caps;
  color: white;
  font-size: 18px;
}

@media (min-width: 320px) and (max-width: 740px) {
  .logo .logo-text {
    padding-left: 50px;
  }
}

.navi {
  position: fixed;
  height: 100%;
  width: 25%;
  right: -500px;
  top: 0;
  background-color: #fff;
  -webkit-transition: .8s ease-in-out;
  -moz-transition: .8s ease-in-out;
  -o-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
  z-index: 1;
  -webkit-transition: 0.1s ease-in-out;
  -webkit-transition--moz-transition: .1s ease-in-out;
  -webkit-transition--o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.navi .active-nav {
  border-bottom: 1px solid white;
}

.navi a {
  font-size: 20px;
  color: #612172;
  font-variant: small-caps;
  text-decoration: none;
  -webkit-transition: .8s ease-in-out;
  -moz-transition: .8s ease-in-out;
  -o-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
}

.navi a:hover {
  text-decoration: none;
  border-bottom: 1px solid #612172;
  padding: 0px 0 5px 0;
}

.navi a.menu-text-open:hover {
  border: 0 solid;
  text-decoration: none;
}

.navi ul {
  list-style: none;
  text-align: center;
  padding: 0;
  position: absolute;
  -webkit-transition: .8s ease-in-out;
  -moz-transition: .8s ease-in-out;
  -o-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
  display: block;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.navi li {
  padding-top: 20px;
  -webkit-transition: .8s ease-in-out;
  -moz-transition: .8s ease-in-out;
  -o-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
}

.navi.open {
  position: fixed;
  width: 25%;
  right: 0px;
  height: 100%;
  background-color: #fff;
  -webkit-transition: .8s ease-in-out;
  -moz-transition: .8s ease-in-out;
  -o-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
  z-index: 1;
}

@media (min-width: 320px) and (max-width: 740px) {
  .navi.open {
    width: 100%;
  }
}

.menu-text-open {
  position: absolute;
  right: 30px;
  top: 25px;
}

.firstPage {
  background: url("earlscourt.jpg");
  background-position: 57%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90%;
  position: relative;
}

.firstPage-text {
  width: 100%;
  bottom: 0;
  position: absolute;
  height: 70px;
  background-image: linear-gradient(180deg, transparent 0%, #0f143c 100%);
}

.firstPage-text h1 {
  color: white;
  text-align: left;
  padding-left: 30px;
  font-size: 65px;
  position: absolute;
  bottom: 20px;
  font-weight: bold;
}

#stampDuty {
  position: relative;
  padding-top: 80px;
}

.stamp {
  display: block;
  margin: auto;
  padding: 40px;
  background-color: #F0EFF3;
  border-radius: 3px;
}

@media (min-width: 320px) and (max-width: 740px) {
  .stamp {
    padding: 20px;
  }
}

@media (min-width : 768px) and (max-width : 1024px) {
  .stamp {
    padding: 20px;
  }
}

.fields {
  width: inherit;
  margin: 50px auto auto auto;
  width: 100%;
}

.results {
  padding-top: 30px;
  font-size: 18px;
  margin: auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: auto;
}

input[type=number] {
  outline: none;
}

.input-stamp-duty {
  background-color: #fff;
  color: #612172;
  font-size: 18px;
  padding: 15px 0px 15px 15px;
  width: 75%;
}

@media (min-width: 320px) and (max-width: 740px) {
  .input-stamp-duty {
    width: 100%;
  }
}

@media (min-width : 768px) and (max-width : 1024px) {
  .input-stamp-duty {
    width: 100%;
  }
}

.btn-calculate-stamp-duty {
  padding: 16px 20px 16px 20px;
  margin-left: -4px;
  font-size: 18px;
  font-weight: 500;
  background-color: #de5f38;
  border-radius: 0;
  border-color: #de5f38;
  color: #fff;
}

@media (min-width: 320px) and (max-width: 740px) {
  .btn-calculate-stamp-duty {
    margin-top: 5px;
    margin-left: 0px;
  }
}

@media (min-width : 768px) and (max-width : 1024px) {
  .btn-calculate-stamp-duty {
    margin-top: 5px;
    margin-left: 0px;
  }
}

button:focus {
  outline: 0;
}

#additional-home {
  color: #612172;
}

input[type="checkbox"] {
  width: 40px;
  height: 40px;
}

.textblock h1 {
  text-align: left;
  color: #612172;
  padding-bottom: 20px;
}

.social {
  position: relative;
  margin: auto;
  background-color: #aeb0bf;
  height: 180px;
}

.social h1 {
  color: white;
}

.social-header {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  margin: auto;
  position: relative;
  background-color: #612172;
  height: 300px;
}

.footer ul {
  padding: 0;
  list-style: none;
  color: #fff;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom-footer {
  margin: auto;
  border-top: 0.5px solid white;
  height: 40px;
  background-color: #612172;
}

.bottom-footer h4 {
  color: white !important;
}
